;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.clojure/core.async "1.0.567"]
  [cider/cider-nrepl "0.22.4"]
  [org.clojars.kkrausse/html-cljs "1.0.10-snap2"]]

 :nrepl
 {:port 3333}
 
 :js-options {:js-provider :shadow}
 
 :builds
 {:bootstrap {:target     :bootstrap
              :output-dir "public/js/bootstrap"
              :entries    [chess.engine.core chess.engine.local-engine chess.user]
              :exclude    #{cljs.js}}
  :app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
   
        :modules {:shared {:entries [shadow.cljs.bootstrap.browser cljs.js]}
                  :main
                  {:init-fn chess.core/init
                   :depends-on #{:shared}}
                  :worker
                  {:init-fn chess.worker/init
                   :depends-on #{:shared}
                   :web-worker true}}
  
 
        :compiler-options {:optimizations :simple}
   
        :devtools {:browser-inject :main
                   :repl-pprint true
                  :after-load chess.core/init
                  :http-root "public"
                  :http-port 8020}}}}
